.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Standardize Styling */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: indigo;
  color: white;
}

.container {
  display: flex;
  flex-wrap: nowrap; 
  height: 100vh; 
  width: 100%; 
}

.split {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 20px;
}

/* Nav Styles */
nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: gray;
  padding: 10px;
  z-index: 1000; 
}

.nav-space {
    padding-top: 60px; 
}

nav h1 {
  margin-right: auto;
}

nav svg {
  fill: white;
}

.link-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-container .a .hov {
  background-color: #ffffff;
  cursor: pointer;
}

nav .a {
  display: flex;
  margin: 0;
  gap: 15px;
}

#hov {
  position: relative;
  cursor: pointer;
}

#hov::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px; 
  width: 0;
  background-color: lightgray;
  transition: width 0.5s ease;
}

#hov:hover::after {
  width: 100%; 
}


#sidebar-active {
  display: none;
}

.open-sidebar, .close-sidebar {
  display: none;
}


@media only screen and (max-width: 640px) {
  .link-container {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    right: -50vw; /* Off-screen by default */
    width: 50vw;
    height: 100vh;
    background-color: gray;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: right 0.5s ease; 
    z-index: 1001; 
  }

  nav .a {
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
    padding: 20px 30px;
  }

  #sidebar-active:checked ~ .link-container {
    right: 0;
  }

  .open-sidebar, .close-sidebar {
    cursor: pointer;
    padding: 20px;
    display: inline-block;
  }

  #overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
  }
  #sidebar-active:checked ~ #overlay {
    display: block;
  }
}


/* General Styles */
.split {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh; 
  padding: 20px;
}

.split.left {
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
  color: #333333;
}

.split.right {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #ffffff;
}

.center {
  text-align: center;
  max-width: 80%;
}

.input-container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.input-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-container input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.input-container input[type="text"]::placeholder {
  color: #dcdcdc;
}

.btn-send {
  width: 100%;
  background-color: black;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn-send:hover {
  background: #00b4d8;
}

.SignUp h1, .SignUp h3,
.Login h1, .Login h3 {
  margin-bottom: 20px;
}


.btn-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 640px) {
  .container {
    flex-direction: column; 
    height: 100%; 
  }

  .split {
    min-height: 100vh; 
    width: 100%; 
    margin: 0; 
    padding: 20px; 
  }
}


/* Home Screen Styling */
.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 1px solid green;
}

/* Thread Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;  /* Center horizontally */
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid red;
}

.grid-item {
  background-color: rgb(90, 36, 90);
  color: white;
  font-size: 15px;
  
  padding: 20px;
  text-align: center;
  border-radius: 8px;

  white-space: nowrap;    
  overflow: hidden;        
  text-overflow: ellipsis;  
  
  max-width: 1199px;  
  border: 2px solid red; 
}

@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr; 
  }
}

/* Thread Screen Styling */

.thread {
  display: flex;
  flex: 2 2;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 10px;
}

#thread-content {
  background-color: white;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 80vh;
  border: 1px solid black;
  margin: 50px;
}



/* Create Thread Screen Styling */

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: indigo;
  color: white;
}

.container {
  display: flex;
  flex-wrap: nowrap; 
  height: 100vh; 
  width: 100%; 
}

.NewThread {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: auto;
  padding: 20px;
  box-sizing: border-box;

}


.NewThread .text-box .ql-container {
  background-color: white;
  padding-bottom: 10px; /* Space below the editor for word count */
}

.NewThread .text-box div {
  margin-top: 5px; /* Control spacing between editor and word count */
}

.NewThread .center {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #6C58CE;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  gap: 20px;
  overflow: visible; 
}

.NewThread .text-box {
  background-color: white;
  min-height: 100px; 
  max-height: none; 
  width: 100%;
  color: black;
  overflow: visible; 
}

.NewThread .text-box .ql-editor {
  min-height: 160px; 
  max-height: none;  
  color: black;
  background-color: white;
}

.ql-align-left {
  text-align: left;
}
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}

.ql-editor ol {
  list-style-type: decimal;
  padding-left: 20px;
}
.ql-editor ul {
  list-style-type: disc;
  padding-left: 20px;
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn.loading {
 animation: fade 3s forwards;
}

@keyframes fade {
  0% {
    background-color: indigo; 
    border-color: black;
  }
  33% {
    background-color: #aacfb6; 
    border-color: #afceb9;
  }
  66% {
    background-color: #80d39b; 
    border-color: #80d39b;
  }
  100% {
    background-color: #80d39b; 
    border-color: #80d39b;
  }
}


.loader {
  width: 20px;
  height: 20px;
  border: 3px solid black; 
  border-top: 3px solid gray; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-left: 10px; 
}

@keyframes spin {
  to { 
    transform: rotate(0deg);
  }
  from { 
    transform: rotate(360deg); 
  }
}  












/* Replies Styling */

/* Vote Styling */



/* Title Style */
#title {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Input Style */
.inputStyle {
  display: flex;
  flex-direction: column;
  flex: 1 1; 
  width: 100%; 
}

.inputStyle input[type=text] {
  flex: 1 1; 
  width: 100%;
  box-sizing: border-box; 
  padding: 10px;
}


/* Button Styling */
.btn {
  position: relative;
  flex-direction: row;
  background-color: indigo;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 24px;
  overflow: hidden; 
  border: none;
  cursor: pointer;
}

.btn-send {
  position: relative;
  background-color: black;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 24px;
  overflow: none; 
  border: none;
  cursor: pointer;
}

.nav-btn {
  position: relative;
  flex-direction: row;
  color: white;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding: 4px 12px;
  overflow: none; 
  border: none;
  cursor: pointer;
}

.account {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.account .box {
  max-width: 400px;
  width: 100%;
  background: red;
  border: 1px solid black;
}

.account .search-box {
  position: relative;
  height: 25px;
  width: 25px; 
  max-width: 380px;
  background: blue;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  overflow: hidden;
  transition: width 0.3s ease;
}

.account .search-box.open {
  width: 100%; 
}

.account .search-box input {
  position: relative;
  height: 100%;
  width: 100%; 
  padding-right: 50px; 
  border-radius: 25px;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
  opacity: 1;
  transition: opacity 0.3s ease;
}


.account .search-box input {
  opacity: 0; 
}

.account .search-box.open input {
  opacity: 1; 
}

.account .search-box.open .icon {
  width: 50px;
}

.account .search-box .icon {
  width: 25px;
}

.account .search-box .icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  background: lightcoral;
  height: 100%;
  text-align: center;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease;
}
