.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Sign Up Screen Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  height: 100%;
  width:  100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(21, 59, 130);
  color: white;
}

.SignUp {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  max-width: 600px; 
  
}

#left,
#right {
  border-radius: 15px;
  background-color: white;
  color: black;
  display: flex;
  border: 1px solid black;
  padding: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 50vh;
  max-width: 50vh;
  flex-grow: 1; 
}

.inputStyle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%; 
}

.inputStyle input[type=text] {
  flex-grow: 1; 
  min-width: 250px;
  width: 100%;
  box-sizing: border-box; 
  padding: 10px;

}


/* Login Screen Styling */

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login > #center {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 15px ;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  background-color: white;
  color: black;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Home Screen Styling */
.Home{
  border: 1px solid black;
  width: 50vh;
  height: 50vh;
  overflow: none;
}

.Home .send-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
    width: 100%;
    gap: 10px;
    padding: 1vh;
    border: 1px solid black;
}

.Home .send-right p {
  padding: 10px;
}

.Home .thread {
  flex-direction: column;
  text-align: center;
  overflow-y: scroll;
  
}

/* Thread Screen Styling */
.Thread-Content {
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 50vh;
  align-items: center;
  border: 1px solid black;
}

.Thread-Title {
  font-size: 5vh;
  top: -10px;
}

.Thread-Desc {
  text-wrap: wrap;
  word-wrap: break-word;
  border: 1px solid black;
  padding: 20px 10px;
  overflow-y: scroll;
}

/* Replies Styling */

/* Vote Styling */

/* Button Styling */

.btn {
  position: relative;
  background-color: indigo;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 24px;
  overflow: hidden; 
  border: none;
}

.btn-send {
  position: relative;
  background-color: black;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 24px;
  overflow: hidden; 
  border: none;
}

/* Nav Styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: gray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
nav h1 {
  margin-right: auto;
}

nav svg {
  fill: white;
}

.link-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .a {
  display: flex;
  margin: 0;
  gap: 15px;
}

#sidebar-active{
  display: none;
}

.open-sidebar, .close-sidebar {
  display: none;
}

@media(max-device-width: 635px) {
  .link-container {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    right: -100%;
    width: 200px;
    z-index: 10;
    background-color: gray;
    box-shadow: -5px 0 5px rgba(0,0,0,0.25);
    transition: 1s ease-out;
  }

  nav .a {
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
    padding: 20px 30px;
  }
  .open-sidebar, .close-sidebar {
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .link-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}
