.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Title {
  display: inline-block;            
  text-align: center;      
  height: clamp(40vmin 50%, 100vmax);
  width:  clamp(40vmin 50%, 100vmax);
  top: 0;
}

.navButtons {
  display: flex;                   
  justify-content: center;         
  align-items: center;            
  position: fixed;                 
  bottom: 0;                      
  left: 0;                       
  right: 0;                      
  padding: 10px;                  
  background-color: white;       
  box-shadow: 0 -3px 5px rgba(0,0,0,0.1); 
}

.navButtons > .custom-button {
  display: inline-block;
  white-space: nowrap;          
  margin-left: 10px;               
  padding: 10px;               
  border-radius: 10px;             
  background-color: grey;          
  gap: calc(30px + 3vw);
}

.navButtons > .custom-button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.Home {
  display: flex; 
  flex-direction: column;   
  align-items: center;  
  margin-top: 20px;
  height: calc(100vh - 40px);
  overflow-y: auto;  
  overflow-x: hidden;
}

.Home > .custom-button2 { 
  padding: 10px 20px;                
  border-radius: 10px;             
  background-color: grey; 
  margin-left: 10px; 
  width: 200px;    
  overflow: hidden;     
  white-space: nowrap;  
  text-overflow: ellipsis;
}



.formRow {
  display: flex;                 
  justify-content: space-between; 
  align-items: center;            
  width: 100%;                   
  padding: 20px;
  scrollbar-width: none;
}


.inputStack {
  display: flex;
  flex-direction: column;        
  gap: 10px;                     
  width: auto;                          
  transform: translateX(10vmax);   
}


.inputGroup {
  display: flex;
  align-items: center;            
  gap: 5px;                       
}


.inputGroup input {
  width: 200px;                 
  padding: 5px;
}

.buttontest {
  padding: 10px;
  transform: translateX(-40vmax);  
}

.divider {
  position: fixed;               
  left: 50%;                     
  top: 0;                        
  bottom: 0;                    
  width: 2px;                  
  background: rgba(0, 0, 0, 0); 
  z-index: -1;                   
}







